{% extends 'base.html.twig' %}

{% block title %}Running index{% endblock %}

{% block body %}
    <h1>Running index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Distance_km</th>
                <th>Location</th>
                <th>Coordinates</th>
                <th>Entry_fee</th>
                <th>Available_slots</th>
                <th>Status</th>
                <th>Category</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for running in runnings %}
            <tr>
                <td>{{ running.id }}</td>
                <td>{{ running.name }}</td>
                <td>{{ running.description }}</td>
                <td>{{ running.date ? running.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ running.distanceKm }}</td>
                <td>{{ running.location }}</td>
                <td>{{ running.coordinates }}</td>
                <td>{{ running.entryFee }}</td>
                <td>{{ running.availableSlots }}</td>
                <td>{{ running.status }}</td>
                <td>{{ running.category }}</td>
                <td>{{ running.image }}</td>
                <td>
                    <a href="{{ path('app_running_show', {'id': running.id}) }}">show</a>
                    <a href="{{ path('app_running_edit', {'id': running.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_running_new') }}">Create new</a>
{% endblock %}
