{% extends 'base.html.twig' %}

{% block title %}CyclingParticipant index{% endblock %}

{% block body %}
    <h1>CyclingParticipant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Dorsal</th>
                <th>Banned</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cycling_participant in cycling_participants %}
            <tr>
                <td>{{ cycling_participant.id }}</td>
                <td>{{ cycling_participant.time ? cycling_participant.time|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cycling_participant.dorsal }}</td>
                <td>{{ cycling_participant.banned ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_cycling_participant_show', {'id': cycling_participant.id}) }}">show</a>
                    <a href="{{ path('app_cycling_participant_edit', {'id': cycling_participant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cycling_participant_new') }}">Create new</a>
{% endblock %}
