{% extends 'base.html.twig' %}

{% block title %}CyclingParticipant{% endblock %}

{% block body %}
    <h1>CyclingParticipant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cycling_participant.id }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ cycling_participant.time ? cycling_participant.time|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dorsal</th>
                <td>{{ cycling_participant.dorsal }}</td>
            </tr>
            <tr>
                <th>Banned</th>
                <td>{{ cycling_participant.banned ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cycling_participant_index') }}">back to list</a>

    <a href="{{ path('app_cycling_participant_edit', {'id': cycling_participant.id}) }}">edit</a>

    {{ include('cycling_participant/_delete_form.html.twig') }}
{% endblock %}
